<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="default" connectionString="Server=.\SQLEXPRESS;Database=葡萄酒練習; User ID =saWine; Password=saWine;MultipleActiveResultSets=true"/>
	</connectionStrings>
	<appSettings>
		<add key="productService" value="Wine.Core.Model.Services.ProductService,Wine.Core"/>
		<add key="categoryService" value="Wine.Core.Model.Services.CategoryService,Wine.Core"/>
		<add key="capacityService" value="Wine.Core.Model.Services.CapacityService,Wine.Core"/>
		<add key="originService" value="Wine.Core.Model.Services.OriginService,Wine.Core"/>
		<add key="tasteService" value="Wine.Core.Model.Services.TasteService,Wine.Core"/>
		<add key="staffService" value="Wine.Core.Model.Services.StaffService,Wine.Core"/>
		<add key="memberService" value="Wine.Core.Model.Services.MemberService,Wine.Core"/>
		<add key="orderItemService" value="Wine.Core.Model.Services.OrderItemService,Wine.Core"/>
		<add key="orderService" value="Wine.Core.Model.Services.OrderService,Wine.Core"/>
	</appSettings>
</configuration>